<template>
  <div>
    Paragens:
    <button v-for="stop in stops"
            :key="'span-'+stop.title"
            @click="center = stop.pos"
            style="margin-right: 5px;">
        {{ stop.title }}
    </button>
    <br><br>
    <gmap-map
      :center="center"
      :zoom="12"
      style="width:100%;  min-height: 93vh;">
        <gmap-marker v-for="stop in stops"
            :key="stop.title"
            :title="stop.title"
            :position="stop.pos"
            :icon="stop.icon" />
        <gmap-marker v-for="bus in buses"
            :key="bus.title"
            :title="bus.title"
            :position="bus.pos"
            :icon="'img/bus.png'" />
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  data() {
    return {
      // default to ISEP to keep it simple
      center: { lat: 41.1787497, lng: -8.6077342 },
      stops: [
        { title: 'ISEP', pos: { lat: 41.1787497, lng: -8.6077342 }, icon: 'img/parking-ct.png' },
        { title: 'Piolho', pos: { lat: 41.145912, lng: -8.617638 }, icon: 'img/parking-blue.png' },
        { title: 'H. S. João', pos: { lat: 41.183119, lng: -8.599832 }, icon: 'img/parking-blue.png' },
        { title: 'C. C. Matosinhos', pos: { lat: 41.184366, lng: -8.668876 }, icon: 'img/parking-red.png' },
      ],
      buses: [
        { title: 'Autocarro 1', pos: { lat: 0, lng: 0 } },
        { title: 'Autocarro 2', pos: { lat: 0, lng: 0 } },
        { title: 'Autocarro 3', pos: { lat: 0, lng: 0 } },
        { title: 'Autocarro 4', pos: { lat: 0, lng: 0 } },
      ],
    };
  },

  mounted() {
    this.geolocate();
  },

  socket: {
    events: {
      busLocation(data) {
        this.buses[data.bus - 1].pos.lat = data.location.latitude;
        this.buses[data.bus - 1].pos.lng = data.location.longitude;
      },
    },
  },

  methods: {
    geolocate() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },
  },
};
</script>
